package ${package}.service.impl;

import java.util.List;
import com.baomidou.mybatisplus.core.conditions.query.LambdaQueryWrapper;
import com.ruoyi.common.utils.StringUtils;
import org.springframework.stereotype.Service;
import ${package}.mapper.${className}Mapper;
import ${package}.domain.${className};
import ${package}.service.I${className}Service;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import lombok.extern.slf4j.Slf4j;

/**
 * ${tableComment} 服务层实现
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Slf4j
@Service
public class ${className}ServiceImpl extends ServiceImpl<${className}Mapper, ${className}> implements I${className}Service {

    @Override
    public List<${className}> list(${className} ${classname}){
        LambdaQueryWrapper<${className}> wrapper = new LambdaQueryWrapper<>();
        if(${classname} != null){
#foreach($column in $columns)
            if(StringUtils.isNotEmpty(${classname}.get${column.attrName}())){
                wrapper.eq(${className}::get${column.attrName}, ${classname}.get${column.attrName}());
            }
#end
        }
        return baseMapper.selectList(wrapper);
    }
}
